@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #303030;
  font-size: 15px;
  line-height: 1.5;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: #55527a;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #303030;
  line-height: 1.2;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
}

.item-label {
  font-weight: 800;
  font-size: 18px;
}

.item-number {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 8px;
  margin-top: 0px;
}

.item-change {
  margin-top: -14px;
}

.continent {
  font-size: 12px;
  margin-bottom: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 960px;
}

.home {
  padding: 20px;
}

.header-tabs {
  display: flex;
  flex: 1;
}

.header-controls {
  display: flex;
}

.controls-country {
  margin-right: 10px;
}

.controls-date {
  width: 120px;
}

.header-tabs div {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.header-tabs a,
.header-tabs span {
  color: #303030;
  font-size: 18px;
  height: 52px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.header-tabs a.active {
  font-weight: 500;
  border-bottom: 3px solid #006894;
  color: #006894;
}

.header-tabs span {
  cursor: not-allowed !important;
  color: rgba(92, 112, 128, 0.6) !important;
}

.header-tabs a:not(:last-child),
.header-tabs span:not(:last-child) {
  margin-right: 20px;
}

.header-tabs a:hover {
  text-decoration: none;
}

button.country-select-button .bp3-button-text {
  display: inline-flex;
  align-items: center;
}

.viz {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 940px;
  overflow: hidden;
}

.viz.hover-true canvas {
  cursor: pointer !important;
}

button,
input {
  font-family: "IBM Plex Sans", sans-serif;
}

button:not(.bp3-active) .color-circle {
  background-color: #bfbfbf;
}

.header-primary {
  height: 66px;
  background-color: #06425c;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 10;
}

.header-logo {
  height: 50px;
  flex: 1;
}

.header-title {
  text-align: center;
  font-size: 24px;
  color: #fff;
  flex: 2;
  font-weight: 800;
}

.header-icons {
  text-align: right;
  color: #fff;
  flex: 1;
}

.header-icons img {
  height: 18px;
  filter: contrast(0) brightness(5);
  position: relative;
  top: 3px;
  cursor: not-allowed !important;
}

.header-logo img {
  height: 100%;
}

.header-secondary {
  height: 52px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.source {
  margin-top: 20px;
  font-size: 14px;
  color: #737373;
}

header input {
  display: inline;
  position: relative;
  top: 1px;
}

.footer-primary {
  height: 35px;
  background-color: #fcfcfc;
  border-top: 1px solid #ececec;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 10;
  font-size: 14px;
  color: #737373;
}

.footer-logo {
  text-align: right;
  height: 20px;
  flex: 1;
}

.footer-logo img {
  height: 100%;
  margin-left: 10px;
}

#footer-logo-small {
  display: none;
}

.footer-sep-newline {
  display: none;
}

.date {
  margin-right: 10px;
  width: 90px;
  display: inline-block;
  position: relative;
  top: -2px;
}

main {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.section-map {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-numeral {
  padding: 16px 10px;
}

.section-chart {
  padding: 10px;
}

.div4 {
  background-color: #ccc;
}

.primary {
  border-right: 1px solid #ececec;
  flex: 1;
}

.secondary {
  overflow-y: auto;
}

.cases .secondary {
  width: 580px;
}

.type-dropdown {
  display: none;
}

.button-link {
  background: none;
  padding: 0;
  color: #737373;
  border: none;
  font-size: inherit;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.dropdown-label {
  margin-right: 10px;
  font-weight: 800;
}

.type-toggle {
  height: 50px;
  display: flex;
  padding: 20px 10px 10px;
  align-items: center;
}

.type-heading {
  flex: 1;
  font-size: 21px;
  margin: 0;
}

.map-container {
  flex: 1;
  border-radius: 2px;
  overflow: hidden;
  margin: 10px;
}

.map-dateslider {
  position: absolute;
  bottom: 25px;
  left: 10px;
  right: 10px;
  z-index: 20;
  background-color: #fff;
  padding: 12px 15px 7px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  display: flex;
}

.map-date {
  min-width: 100px;
  position: relative;
  top: -2px;
  user-select: none;
}

.numbers {
  display: flex;
}

.numbers > .item {
  flex-basis: 25%;
  padding-right: 20px;
}

.map {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  overflow: hidden;
}

.bp3-slider {
  width: 150px;
  min-width: auto;
  margin-left: 10px;
  position: relative;
  top: 8px;
  margin-right: 10px;
}
.table-cases {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
}

.table-cases th {
  font-weight: 500;
}

.table-cases th:first-child,
.table-cases td:first-child {
  display: flex;
  align-items: center;
  height: 32px;
}

.table-cases tr:not(:last-child),
.table-cases tr:first-child {
  border-bottom: #d9d9d9 1px solid;
}

.table-icon {
  height: 21px;
  position: relative;
  top: -1px;
  margin-right: 10px;
}

.table-number {
  text-align: right;
}

.bp3-slider {
  height: auto;
}

.bp3-slider-label {
  display: none;
}

.bp3-button,
.bp3-input {
  font-size: 15px;
}

.color-circle {
  height: 13px;
  width: 13px;
  border-radius: 100px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 6px;
}

.color-cases {
  color: #02aeef;
}

.color-active {
  color: #f7c319;
}

.color-recovered {
  color: #6b9545;
}

.color-deaths {
  color: #eb1b25;
}

.background-color-cases {
  background-color: #02aeef;
}

.background-color-active {
  background-color: #f7c319;
}

.background-color-recovered {
  background-color: #6b9545;
}

.background-color-deaths {
  background-color: #eb1b25;
}

.bp3-popover-wrapper {
  width: 120px;
}

.show-case-table {
  display: none;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-map .mapboxgl-canvas-container {
  position: absolute;
}

.mapboxgl-popup,
.mapboxgl-popup-content {
  pointer-events: none;
  font-family: "ibm plex sans";
  min-width: 200px;
}

.popup-heading {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #262e34;
}

.popup-date {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  color: #262e34;
}

.popup-type {
  font-size: 13px;
  margin-top: -4px;
  color: #737373;
  font-weight: 500;
}

.popup-subheading {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  color: #262e34;
}

.mapboxgl-popup table {
  font-size: 13px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  font-family: "ibm plex sans";
  border-collapse: collapse;
}

.mapboxgl-popup tr:nth-child(2n) {
  background: #f5f5f5;
}

.mapboxgl-popup td,
.mapboxgl-popup th {
  padding: 2px 5px;
}

.mapboxgl-popup td:last-child {
  text-align: right;
}

.mapboxgl-popup th {
  font-weight: 500;
}

.mapboxgl-popup-anchor-left {
  position: relative;
  left: 15px;
}

.mapboxgl-popup-anchor-right {
  position: relative;
  left: -15px;
}

.mapboxgl-popup-anchor-bottom {
  margin-top: -15px;
}

.mapboxgl-popup-anchor-top {
  margin-top: 15px;
}

@media (max-width: 1050px) {
  .cases .secondary {
    width: 520px;
  }
}

@media (max-width: 1000px) {
  .cases .type-buttons {
    display: none;
  }
  .cases .type-dropdown {
    display: inline-block;
  }
  .dropdown-label {
    display: none;
  }
}

@media (max-width: 767px) {
  #root {
    min-width: auto;
  }
  .type-buttons {
    display: none;
  }
  .type-dropdown {
    display: inline-block;
  }
  main {
    flex-direction: column;
  }
  .primary {
    display: contents;
  }
  .secondary {
    display: contents;
  }
  .dropdown-label {
    display: inline;
  }
  .bp3-button,
  .bp3-input {
    font-size: 14px;
  }
  .viz {
    display: block;
    min-width: auto;
    overflow: auto;
  }
  html {
    overflow-x: hidden;
  }
  body {
    font-size: 14px;
  }
  .type-heading {
    display: none;
  }
  .button-link {
    margin-left: -10px;
    margin-bottom: -10px;
  }
  .item-label {
    font-size: 14px;
  }
  .item-number {
    font-size: 24px;
    margin-top: -5px;
  }
  .cases .section-numeral {
    order: -1;
    border-bottom: 1px solid #e6e6e6;
  }
  .table-container {
    overflow-x: auto;
    margin-left: -10px;
    margin-right: -10px;
    display: block;
  }
  .table-cases {
    min-width: 410px;
  }
  .table-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .map-container {
    min-height: 300px;
    height: 70vh;
  }
  .primary {
    border-right: none;
    min-height: 400px;
  }
  .secondary {
    width: 100%;
    overflow-y: initial;
  }
  .header-secondary {
    align-items: initial;
    flex-direction: column;
    height: auto;
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-tabs {
    margin-left: -10px;
    margin-right: -10px;
    border-bottom: 1px solid #e6e6e6;
  }
  .header-tabs div {
    overflow-x: auto;
    overflow-y: hidden;
    padding-right: 10px;
    padding-left: 10px;
  }
  .header-tabs a,
  .header-tabs span {
    height: 44px;
    font-size: 14px;
  }
  .header-controls {
    padding: 8px 0;
  }
  .header-icons {
    width: 48px;
    flex: none;
  }
  .header-logo {
    height: 40px;
    width: 48px;
    flex: none;
  }
  .header-title {
    font-size: 16px;
  }
  .button-link {
    font-size: 14px;
  }
  .numbers > .item {
    padding-right: 10px;
  }
  .header-tabs a:not(:last-child) {
    margin-right: 15px;
  }
  .show-case-table {
    display: flex;
  }
  .show-case-table .bp3-icon {
    margin-right: 4px;
  }

  #footer-logo-large {
    display: none;
  }

  #footer-logo-small {
    display: inline;
  }

  .footer-sep-newline {
    display: flex;
  }

  .footer-sep-slash {
    display: none;
  }

  .footer-primary {
    height: 40px;
    line-height: 1.2em;
  }
}

@media (max-width: 480px) {
  .date-slider {
    display: none;
  }
}
